<form ...attributes {{on "submit" this.handleSubmit}}>
  <div class="mb-4">
    <Input
      @id="username"
      @label="Username"
      @type="email"
      placeholder="john@mail.com"
      required
      {{on "input" (fn this.updateProperty "username")}}
    />
  </div>
  <div class="mb-6">
    <Input
      @id="password"
      @label="Password"
      @type="password"
      placeholder="********"
      required
      {{on "input" (fn this.updateProperty "password")}}
    />
  </div>
  <div class="flex items-center justify-between">
    <Button @type="submit">Sign In</Button>
    <LinkButton @href="#">Forgot Password?</LinkButton>
  </div>
</form>