<div class="flex justify-center items-center h-screen">
  <Card>
    <LoginForm
      @onSuccess={{fn (mut this.showSuccess) true}}
      @onError={{fn (mut this.showError) true}}
    />
  </Card>
</div>

<div class="fixed inset-x-0 bottom-0 mx-4 mb-4">
  {{#if this.showSuccess}}
    <Alert @heading="Success!"/>
  {{else if this.showError}}
    <Alert @type="danger" @heading="Username or password do not match our records."/>
  {{/if}}
</div>